name: Tests
on: [pull_request, workflow_dispatch]
jobs:
  # Xcode 12 Jobs
  unit_test_job:
    name: Unit (Xcode 12.5)
    runs-on: macOS-11
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Use Xcode 12.5
        run: sudo xcode-select -switch /Applications/Xcode_12.5.app
      - name: Install CocoaPod dependencies
        run: pod install
      - name: Run Unit Tests
        run: xcodebuild -workspace 'PopupBridge.xcworkspace' -sdk 'iphonesimulator' -configuration 'Debug' -scheme 'UnitTests' -destination 'name=iPhone 12,platform=iOS Simulator' test #TODO: add some sort of xcpretty or xcbeautify
  ui_test_job:
    name: UI (Xcode 12.5)
    runs-on: macOS-11
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Use Xcode 12.5
        run: sudo xcode-select -switch /Applications/Xcode_12.5.app
      - name: Install CocoaPod dependencies
        run: pod install
      - name: Run UI Tests
        run: xcodebuild -workspace 'PopupBridge.xcworkspace' -sdk 'iphonesimulator' -configuration 'Release' -scheme 'UITests' -destination 'name=iPhone 12,platform=iOS Simulator' test #TODO: add some sort of xcpretty or xcbeautify

  # Xcode 13-beta Jobs
  ui_test_job_xcode_beta:
    name: UI (Xcode 13-beta)
    runs-on: macOS-11
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Use Xcode 13
        run: sudo xcode-select -switch /Applications/Xcode_13.0.app
      - name: Install CocoaPod dependencies
        run: pod install
      - name: Run UI Tests
        run: xcodebuild -workspace 'PopupBridge.xcworkspace' -sdk 'iphonesimulator' -configuration 'Release' -scheme 'UITests' -destination 'name=iPhone 12,platform=iOS Simulator' test #TODO: add some sort of xcpretty or xcbeautify